.jumbotron{
 font-family: 'Kaushan Script', cursive;
 color: #893BFF;
 text-align: center;
 border-style: solid;
 border-color:teal;
 border-radius: 30px;
 border-width: 25px;
}
.h2{
 text-align:center;
}
.navbar {
    font-family: 'Satisfy', cursive;;
    color: blue !important;
    text-align: center !important;
    background-color: #03F2CE !important;
    font-size: 25px;
    text-shadow: 0 0 3px #FF0000;
}