.navbar {
    font-family: 'Satisfy', cursive;;
    color: blue;
    text-align: center;
    background-color: #03F2CE;
    font-size: 25px;
    text-shadow: 0 0 3px #FF0000;
}
body{
    background-image: url(images/raindrops.jpg)
}
.jumbotron{
    height: 280px; text-align:center; font-family:'Courgette', cursive;
    background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
    color:#800000;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-lg-8{
    float: right;
    margin-right: 100px;
}
.card-img-bottom{
    float: left;
    margin-left:500px;
}
.carousel-inner img{
    width: 500px;
}
.carousel-inner img{
center
}
.dropdown{
    color:white;
}
.card-text{
    font-family:'Lobster', cursive;
}